<h1>New Posts</h1>
<%form_for(@post) do |f|%>
<%= f.error_messages %>
<p>
	<label> Category &nbsp;:</label>
	<%=f.select :category_id, options_for_select(get_categories), \
			 :prompt =>'--category--'  %>
</p>
<p>
	<label> Post &nbsp;:</label>
	<%=f.text_area :content, :size =>'24x6'  %>
</p>
<%= f.submit 'Add Post'%>
<% end %>

<%= link_to 'Back', posts_path %>
